#header-icon
{
    font-size: 25px;
    color: rgb(84, 82, 82);
    padding-left: 20px;
}
#footer-icon
{
    padding-left: 20px;
    letter-spacing: 5px;
    font-size: 20px;
}
#header-span
{
    color: black;

}
.whole-div
{
    background-color: rgb(216, 221, 221);
    padding-top:20px;
}
.footer-div
{
    background-color: rgb(55, 55, 236);
    color:  rgb(216, 221, 221);
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: bold;
    font-size: 18px;
    
}
a
{
    color: rgb(16, 126, 235);
    padding-left: 20px;
}
label
{
    font-weight: bolder;
    padding-left: 20px;
}
span
{
    color: rgb(84, 82, 82);
}